<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>AutoAdjust</key>
	<false/>
	<key>CanvasColor</key>
	<dict>
		<key>w</key>
		<string>1</string>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>CanvasScale</key>
	<real>1</real>
	<key>ColumnAlign</key>
	<integer>0</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>DisplayScale</key>
	<string>1 in = 1 in</string>
	<key>GraphDocumentVersion</key>
	<integer>5</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{47.8972, 518}, {30.1, 35}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>LucidaGrande</string>
						<key>Size</key>
						<real>11</real>
					</dict>
					<key>ID</key>
					<integer>40476</integer>
					<key>ImageID</key>
					<integer>12</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 1}</string>
						<string>{1, -1}</string>
						<string>{-1, -1}</string>
						<string>{-1, 1}</string>
						<string>{-0.0360961, 0.727273}</string>
						<string>{-0.0107245, -0.522727}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
						<string>{-0.42138, -0.545455}</string>
						<string>{-0.276738, 0.5}</string>
						<string>{0.282754, 0.579546}</string>
						<string>{0.276738, -0.568182}</string>
						<string>{-0.282754, -0.545455}</string>
						<string>{-0.135482, -0.511364}</string>
						<string>{0.135055, -0.556818}</string>
						<string>{0.387027, -0.534091}</string>
						<string>{-0.439171, 0.568183}</string>
						<string>{-0.174465, 0.625}</string>
						<string>{0.0902405, 0.556819}</string>
						<string>{0.469251, 0.659091}</string>
						<string>{-0.589572, -0.318182}</string>
						<string>{-0.788102, 0.363637}</string>
						<string>{0.709893, -0.363636}</string>
						<string>{0.529411, 0.284091}</string>
						<string>{0, 0}</string>
					</array>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{47.8972, 553}, {132.206, 132.206}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40477</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.298039</string>
								<key>g</key>
								<string>0.298039</string>
								<key>r</key>
								<string>0.298039</string>
							</dict>
							<key>CornerRadius</key>
							<real>5</real>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red76\green76\blue76;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs48 \cf2 Receiver}</string>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>40475</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{302.083, 420.599}, {41, 10.2401}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40469</integer>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.46544, 0.498159}</string>
							<string>{-0.38346, 0.494379}</string>
							<string>{0.464781, 0.515388}</string>
							<string>{0.481691, 0.472012}</string>
							<string>{0.494525, 0.315105}</string>
							<string>{0.520192, -0.234055}</string>
							<string>{0.471424, -0.469381}</string>
							<string>{0.427459, -0.512762}</string>
							<string>{-0.441914, -0.511518}</string>
							<string>{-0.468896, -0.456187}</string>
							<string>{-0.495879, -0.400865}</string>
							<string>{-0.524279, 0.221828}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{302.083, 405.417}, {41, 10.2401}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40470</integer>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.46544, 0.498159}</string>
							<string>{-0.38346, 0.494379}</string>
							<string>{0.464781, 0.515388}</string>
							<string>{0.481691, 0.472012}</string>
							<string>{0.494525, 0.315105}</string>
							<string>{0.520192, -0.234055}</string>
							<string>{0.471424, -0.469381}</string>
							<string>{0.427459, -0.512762}</string>
							<string>{-0.441914, -0.511518}</string>
							<string>{-0.468896, -0.456187}</string>
							<string>{-0.495879, -0.400865}</string>
							<string>{-0.524279, 0.221828}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{302.083, 390.601}, {41, 10.2401}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40471</integer>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.46544, 0.498159}</string>
							<string>{-0.38346, 0.494379}</string>
							<string>{0.464781, 0.515388}</string>
							<string>{0.481691, 0.472012}</string>
							<string>{0.494525, 0.315105}</string>
							<string>{0.520192, -0.234055}</string>
							<string>{0.471424, -0.469381}</string>
							<string>{0.427459, -0.512762}</string>
							<string>{-0.441914, -0.511518}</string>
							<string>{-0.468896, -0.456187}</string>
							<string>{-0.495879, -0.400865}</string>
							<string>{-0.524279, 0.221828}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{302.083, 373.715}, {41, 10.2401}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40472</integer>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.46544, 0.498159}</string>
							<string>{-0.38346, 0.494379}</string>
							<string>{0.464781, 0.515388}</string>
							<string>{0.481691, 0.472012}</string>
							<string>{0.494525, 0.315105}</string>
							<string>{0.520192, -0.234055}</string>
							<string>{0.471424, -0.469381}</string>
							<string>{0.427459, -0.512762}</string>
							<string>{-0.441914, -0.511518}</string>
							<string>{-0.468896, -0.456187}</string>
							<string>{-0.495879, -0.400865}</string>
							<string>{-0.524279, 0.221828}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{321.917, 327}, {169.333, 144.794}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40473</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
						<string>{-0.0743117, 0.0386951}</string>
					</array>
					<key>Shape</key>
					<string>Cylinder</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.501961</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.298039</string>
								<key>g</key>
								<string>0.298039</string>
								<key>r</key>
								<string>0.298039</string>
							</dict>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red76\green76\blue76;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs48 \cf2 Provider}</string>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>40468</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{47.8972, 333.294}, {132.206, 132.206}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>39785</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red76\green76\blue76;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs48 \cf2 Service}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>39781</integer>
							<key>Points</key>
							<array>
								<string>{312.752, 46.6657}</string>
								<string>{481.333, 46.2899}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>ShadowVector</key>
									<string>{0, 2}</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.298039</string>
										<key>g</key>
										<string>0.298039</string>
										<key>r</key>
										<string>0.298039</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{312.752, 27.5029}, {168.582, 18.787}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>39782</integer>
							<key>ImageID</key>
							<integer>2</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Beneath</key>
									<string>YES</string>
									<key>Draws</key>
									<string>NO</string>
									<key>ShadowVector</key>
									<string>{0, 2}</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.298039</string>
										<key>g</key>
										<string>0.298039</string>
										<key>r</key>
										<string>0.298039</string>
									</dict>
									<key>Draws</key>
									<string>NO</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>39780</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{312, 26}, {169.333, 254}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>39783</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.298039</string>
								<key>g</key>
								<string>0.298039</string>
								<key>r</key>
								<string>0.298039</string>
							</dict>
							<key>Width</key>
							<real>3</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red76\green76\blue76;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs48 \cf2 Activity}</string>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>39779</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{48.3397, 57.7823}, {134.196, 185.941}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>39757</integer>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.482772, 0.49993}</string>
							<string>{-0.430573, 0.500556}</string>
							<string>{0.440428, 0.4968}</string>
							<string>{0.495695, 0.495551}</string>
							<string>{0.503891, 0.451107}</string>
							<string>{0.498769, -0.435216}</string>
							<string>{0.493651, -0.490297}</string>
							<string>{0.426098, -0.504068}</string>
							<string>{-0.440808, -0.501565}</string>
							<string>{-0.486866, -0.492801}</string>
							<string>{-0.49096, -0.453368}</string>
							<string>{-0.516548, 0.477396}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{83.1922, 35.7271}, {65.8022, 4.18991}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>w</key>
							<string>0</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>NSKern</key>
						<real>0.0</real>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>39758</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.478735, -0.414101}</string>
							<string>{-0.457865, -0.453751}</string>
							<string>{0.15048, -0.46703}</string>
							<string>{0.15048, -0.46703}</string>
							<string>{0.15048, -0.46703}</string>
							<string>{0.485912, -0.499996}</string>
							<string>{0.485912, -0.499996}</string>
							<string>{0.496627, -0.499996}</string>
							<string>{0.507542, 0.227901}</string>
							<string>{0.492949, 0.297276}</string>
							<string>{0.478352, 0.366638}</string>
							<string>{-0.460536, 0.573399}</string>
							<string>{-0.487892, 0.47298}</string>
							<string>{-0.509458, 0.469246}</string>
							<string>{-0.499609, -0.374413}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.754032</string>
								<key>g</key>
								<string>0.754032</string>
								<key>r</key>
								<string>0.754032</string>
							</dict>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.866667</string>
								<key>g</key>
								<string>0.866667</string>
								<key>r</key>
								<string>0.866667</string>
							</dict>
							<key>MiddleFraction</key>
							<real>0.4047619104385376</real>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>CornerRadius</key>
							<real>5</real>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 \expnd0\expndtw0\kerning0
	}</string>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>39760</integer>
							<key>Points</key>
							<array>
								<string>{134.71, 250.635}</string>
								<string>{134.71, 251.634}</string>
								<string>{134.71, 252.032}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>39761</integer>
							<key>Points</key>
							<array>
								<string>{129.834, 254.359}</string>
								<string>{129.834, 255.358}</string>
								<string>{129.834, 255.756}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>39763</integer>
								<key>Info</key>
								<integer>2</integer>
							</dict>
							<key>ID</key>
							<integer>39762</integer>
							<key>Points</key>
							<array>
								<string>{134.092, 254.263}</string>
								<string>{133.886, 255.358}</string>
								<string>{133.886, 255.756}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>39763</integer>
							<key>Points</key>
							<array>
								<string>{129.834, 255.756}</string>
								<string>{132.279, 255.925}</string>
								<string>{133.886, 255.756}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>39764</integer>
							<key>Points</key>
							<array>
								<string>{136.633, 253.312}</string>
								<string>{132.457, 250.877}</string>
								<string>{127.417, 253.079}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>39759</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{61.3049, 251.073}, {8.7226, 5.32301}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>HFlip</key>
					<string>YES</string>
					<key>ID</key>
					<integer>39765</integer>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.5, -0.5}</string>
							<string>{-0.499999, -0.500005}</string>
							<string>{-0.419488, -0.232199}</string>
							<string>{-0.249622, -0.0601997}</string>
							<string>{-0.0794553, 0.111567}</string>
							<string>{0.196459, 0.0413885}</string>
							<string>{0.196459, 0.0413885}</string>
							<string>{0.196459, 0.0413885}</string>
							<string>{0.139664, -0.204053}</string>
							<string>{0.139664, -0.204053}</string>
							<string>{0.139664, -0.204053}</string>
							<string>{0.509628, 0.104151}</string>
							<string>{0.509628, 0.104157}</string>
							<string>{0.509621, 0.104151}</string>
							<string>{0.178865, 0.54131}</string>
							<string>{0.17897, 0.541325}</string>
							<string>{0.17897, 0.541325}</string>
							<string>{0.210855, 0.306746}</string>
							<string>{0.210855, 0.306746}</string>
							<string>{0.210845, 0.306752}</string>
							<string>{-0.103803, 0.347066}</string>
							<string>{-0.296568, 0.121299}</string>
							<string>{-0.48959, -0.104287}</string>
							<string>{-0.499999, -0.500012}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
							<key>Fuzziness</key>
							<real>5.1873583793640137</real>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>0.5</real>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>VFlip</key>
					<string>YES</string>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>39767</integer>
							<key>Points</key>
							<array>
								<string>{96.6925, 251.741}</string>
								<string>{101.106, 251.89}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>39768</integer>
							<key>Points</key>
							<array>
								<string>{96.6975, 255.93}</string>
								<string>{100.936, 256.08}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>39769</integer>
							<key>Points</key>
							<array>
								<string>{96.6096, 254.068}</string>
								<string>{101.024, 254.217}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>ID</key>
							<integer>39770</integer>
							<key>Points</key>
							<array>
								<string>{92.8127, 249.18}</string>
								<string>{101.023, 249.404}</string>
								<string>{101.023, 249.404}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>39766</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{160.807, 249.18}, {6.91925, 5.17143}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>39772</integer>
							<key>Shape</key>
							<string>Bezier</string>
							<key>ShapeData</key>
							<dict>
								<key>UnitPoints</key>
								<array>
									<string>{-0.348798, -0.357174}</string>
									<string>{-0.175673, -0.535613}</string>
									<string>{0.154841, -0.562376}</string>
									<string>{0.367308, -0.348252}</string>
									<string>{0.579782, -0.134126}</string>
									<string>{0.50896, 0.249527}</string>
									<string>{0.351572, 0.374423}</string>
									<string>{0.194184, 0.499328}</string>
									<string>{-0.120583, 0.597469}</string>
									<string>{-0.348798, 0.329814}</string>
									<string>{-0.577007, 0.0621567}</string>
									<string>{-0.521922, -0.178735}</string>
								</array>
							</dict>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.333304</string>
										<key>g</key>
										<string>0.33338</string>
										<key>r</key>
										<string>0.333329</string>
									</dict>
									<key>GradientColor</key>
									<dict>
										<key>w</key>
										<string>0.666667</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>Calibri</string>
								<key>Size</key>
								<real>9</real>
							</dict>
							<key>ID</key>
							<integer>39773</integer>
							<key>Points</key>
							<array>
								<string>{163.103, 250.623}</string>
								<string>{170.022, 256.396}</string>
								<string>{163.103, 250.623}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>HeadArrow</key>
									<string>0</string>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>39771</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{106.416, 269.431}, {18.6865, 13.9664}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Calibri</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>39774</integer>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.348794, -0.357168}</string>
							<string>{-0.175672, -0.535627}</string>
							<string>{0.154846, -0.56237}</string>
							<string>{0.367317, -0.348257}</string>
							<string>{0.579777, -0.134138}</string>
							<string>{0.508963, 0.249523}</string>
							<string>{0.351572, 0.374416}</string>
							<string>{0.194177, 0.499321}</string>
							<string>{-0.120579, 0.597473}</string>
							<string>{-0.348794, 0.329811}</string>
							<string>{-0.577016, 0.062149}</string>
							<string>{-0.521913, -0.178734}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.697581</string>
								<key>g</key>
								<string>0.697581</string>
								<key>r</key>
								<string>0.697581</string>
							</dict>
							<key>GradientColor</key>
							<dict>
								<key>w</key>
								<string>0.666667</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{40.5356, 43.7405}, {149.234, 223.314}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.2</string>
							<key>g</key>
							<string>0.2</string>
							<key>r</key>
							<string>0.2</string>
						</dict>
						<key>Font</key>
						<string>TektonPro-Bold</string>
						<key>NSKern</key>
						<real>0.0</real>
						<key>Size</key>
						<real>18</real>
					</dict>
					<key>ID</key>
					<integer>39775</integer>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.489278, 0.422045}</string>
							<string>{-0.492039, 0.518465}</string>
							<string>{0.426487, 0.533056}</string>
							<string>{0.497354, 0.422568}</string>
							<string>{0.505636, 0.379832}</string>
							<string>{0.491831, -0.364938}</string>
							<string>{0.491831, -0.45458}</string>
							<string>{0.425565, -0.504614}</string>
							<string>{-0.378834, -0.524418}</string>
							<string>{-0.498482, -0.455622}</string>
							<string>{-0.504004, -0.368065}</string>
							<string>{-0.492959, 0.255267}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.334677</string>
								<key>g</key>
								<string>0.334677</string>
								<key>r</key>
								<string>0.334677</string>
							</dict>
							<key>GradientColor</key>
							<dict>
								<key>w</key>
								<string>0.666667</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>Width</key>
							<real>2</real>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{33, 26.4656}, {162, 263.915}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>b</key>
									<string>0.2</string>
									<key>g</key>
									<string>0.2</string>
									<key>r</key>
									<string>0.2</string>
								</dict>
								<key>Font</key>
								<string>TektonPro-Bold</string>
								<key>NSKern</key>
								<real>0.0</real>
								<key>Size</key>
								<real>17</real>
							</dict>
							<key>ID</key>
							<integer>39777</integer>
							<key>Shape</key>
							<string>Bezier</string>
							<key>ShapeData</key>
							<dict>
								<key>UnitPoints</key>
								<array>
									<string>{-0.480467, 0.404998}</string>
									<string>{-0.482607, 0.528505}</string>
									<string>{0.50258, 0.534611}</string>
									<string>{0.49657, 0.405523}</string>
									<string>{0.504773, 0.362684}</string>
									<string>{0.495411, -0.363251}</string>
									<string>{0.497496, -0.452944}</string>
									<string>{0.473755, -0.50965}</string>
									<string>{-0.360731, -0.521567}</string>
									<string>{-0.479216, -0.452607}</string>
									<string>{-0.523304, -0.445811}</string>
									<string>{-0.484113, 0.237823}</string>
								</array>
							</dict>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.899194</string>
										<key>g</key>
										<string>0.899194</string>
										<key>r</key>
										<string>0.899194</string>
									</dict>
									<key>GradientColor</key>
									<dict>
										<key>w</key>
										<string>0.666667</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{33, 26}, {162, 274}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>b</key>
									<string>0.2</string>
									<key>g</key>
									<string>0.2</string>
									<key>r</key>
									<string>0.2</string>
								</dict>
								<key>Font</key>
								<string>TektonPro-Bold</string>
								<key>NSKern</key>
								<real>0.0</real>
								<key>Size</key>
								<real>17</real>
							</dict>
							<key>ID</key>
							<integer>39778</integer>
							<key>Shape</key>
							<string>Bezier</string>
							<key>ShapeData</key>
							<dict>
								<key>UnitPoints</key>
								<array>
									<string>{-0.480467, 0.404998}</string>
									<string>{-0.482607, 0.528505}</string>
									<string>{0.50258, 0.534611}</string>
									<string>{0.49657, 0.405523}</string>
									<string>{0.504773, 0.362684}</string>
									<string>{0.495411, -0.363251}</string>
									<string>{0.497496, -0.452944}</string>
									<string>{0.473755, -0.50965}</string>
									<string>{-0.360731, -0.521567}</string>
									<string>{-0.479216, -0.452607}</string>
									<string>{-0.523304, -0.445811}</string>
									<string>{-0.484113, 0.237823}</string>
								</array>
							</dict>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.754032</string>
										<key>g</key>
										<string>0.754032</string>
										<key>r</key>
										<string>0.754032</string>
									</dict>
									<key>GradientColor</key>
									<dict>
										<key>w</key>
										<string>0.666667</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.2</string>
										<key>g</key>
										<string>0.2</string>
										<key>r</key>
										<string>0.2</string>
									</dict>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>39776</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>39756</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>MinorGridColor</key>
		<dict>
			<key>a</key>
			<string>0.3</string>
			<key>w</key>
			<string>0.666667</string>
		</dict>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>13</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image12.eps</string>
		<string>image8.pdf</string>
		<string>image2.png</string>
	</array>
	<key>IsPalette</key>
	<string>YES</string>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>LayoutTarget</key>
		<integer>0</integer>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheet</key>
	<string>Master 1</string>
	<key>MasterSheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<false/>
			<key>CanvasColor</key>
			<dict>
				<key>w</key>
				<string>1</string>
			</dict>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasScale</key>
			<real>1</real>
			<key>ColumnAlign</key>
			<integer>0</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 in = 1 in</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict>
				<key>MinorGridColor</key>
				<dict>
					<key>a</key>
					<string>0.3</string>
					<key>w</key>
					<string>0.666667</string>
				</dict>
				<key>SnapsToGrid</key>
				<string>YES</string>
			</dict>
			<key>HPages</key>
			<integer>1</integer>
			<key>IsPalette</key>
			<string>YES</string>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>LayoutTarget</key>
				<integer>0</integer>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>RowAlign</key>
			<integer>0</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Master 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ModificationDate</key>
	<string>2010-12-25 23:01:37 -0800</string>
	<key>Modifier</key>
	<string>Marko Gargenta</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklySG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklySG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklySG</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFklySG</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>0</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<string>0</string>
		<key>DrawerOpen</key>
		<false/>
		<key>DrawerTab</key>
		<string>Outline</string>
		<key>DrawerWidth</key>
		<real>209</real>
		<key>FitInWindow</key>
		<false/>
		<key>Frame</key>
		<string>{{317, 44}, {723, 802}}</string>
		<key>ShowRuler</key>
		<false/>
		<key>ShowStatusBar</key>
		<true/>
		<key>Zoom</key>
		<string>1</string>
	</dict>
</dict>
</plist>
